.destaques {
	display: grid;
	grid-gap: .25rem;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, auto);
	height: 100vh;
}
.destaques__principal {
	background: url(../img/fortnite.jpg) center / cover no-repeat;
	grid-column: 1 / 4;
	grid-row: 1 / 3;
}
.destaques__secundario:nth-child(2) {
	background: url(../img/pubg.jpg) center / cover no-repeat;
	grid-column: 4 / 4;
	grid-row: 1 / 1;
}
.destaques__secundario:nth-child(3) {
	background: url(../img/slack.png) center / cover no-repeat;
	grid-column: 4 / 4;
	grid-row: 2 / 2;
}
.destaques__secundario:nth-child(4) {
	background: url(../img/whatsapp.png) center / cover no-repeat;
	grid-column: 4 / 4;
	grid-row: 3 / 3;
}
.destaques__secundario:nth-child(5) {
	background: url(../img/cs-go.jpg) center / cover no-repeat;
	grid-column: 3 / 3;
	grid-row: 3 / 3;
}
.destaques__titulo {
	background-color: rgba(0, 0, 0, .5);
	color: #ffffff;
	font-size: 2rem;
	text-align: center;
	padding: .5rem 0;
	width: 100%;
}
.caixa {
	align-items: flex-end;
	display: flex;
}

.destaques__categorias {
	grid-column: 1 / 3;
	grid-row: 3 / 3;
	padding: 0 .5rem;
}
.destaques__categorias___lista {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	justify-content: space-between;
}
.destaques__categorias___item {
	width: 50%;
}
.destaques__categorias___link {
	align-items: center;
	color: #333333;
	display: flex;
}
.icone {
	margin-right: .5rem;
}